.user-role-wrapper-component {
  color: rgb(63, 172, 255) !important;
  filter: none !important;
  background: none !important;
  text-shadow: none !important;
}

.user-role-wrapper-component:not(.processed) {
  text-indent: -9999px;
  line-height: 0;
  visibility: hidden;
}

.user-role-wrapper-component:not(.processed)::after {
  text-indent: 0;
  line-height: 1;
  visibility: visible;
  display: inline-block;
  content: "Anonymous";
}

.username:not(.processed)::after {
  display: block !important;
}
